.body {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, #003977, #44C4F1);
}

.background {
  grid-template-rows: 300px auto;
  height: 100vh;
}

.logo-container {
  grid-column: 1/ -1;
  height: 200px;
  align-self: center;
}

.logo-container div {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  position: relative;
  top: -25px;
  color: #f7e000;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.logo-container div span {
  color: #FFF;
  margin-right: 0.25em;
}

.logo {
  width: 400px;
}
